@font-face {
    font-family: 'montserrat_400';
    src: url('fonts/montserrat-regular.woff') format('woff'),
        url('fonts/montserrat-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_600';
    src: url('fonts/montserrat-semibold.woff') format('woff'),
        url('fonts/montserrat-semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_700';
    src: url('fonts/montserrat-bold.woff') format('woff'),
        url('fonts/montserrat-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_800';
    src: url('fonts/montserrat-extrabold.woff') format('woff'),
        url('fonts/montserrat-extrabold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'montserrat_400', 'montserrat_600', 'montserrat_700', 'montserrat_800';
}

a {
    text-decoration: none;
}

a {
    background: linear-gradient(to right,transparent,transparent), linear-gradient(to right,#FF9900,#FF9900,#FF9900);
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

a:hover {
    background-size: 0 3px, 100% 3px;
}

summary {
    list-style-type: none;
    /* Firefox */
}

summary::-webkit-details-marker {
    display: none;
    /* Chrome */
}

hr {
    width: 1416px;
    margin-left: -2px;
}

button {
    cursor: pointer;
}

.swiper-slide {
    width: 1415px !important;
}

.swiper-wrapper {
    height: 500px;
}

.swiper-slide {
    background-size: cover;
    background-position: center center;
}

/* Header */
.header {
    height: 100px;
}

.container {
    max-width: 1200px;
    padding-left: 75px;
    padding-right: 75px;
}

.header-container {
    padding-top: 14px;
    display: flex;
}

.logo {
    display: flex;
}

.logo-img {
    height: 60px;
}

.logo-img1 {
    padding-top: 15px;
    padding-left: 9px;
    width: 140px;
    height: 33px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    margin-top: 22px;
    margin-left: 542px;
}

.nav-list-element {
    font-size: 15px;
    font-weight: 600;
    width: 56px;
}

.nav-list-element1 {
    margin-left: 54px;
}

.nav-list-element2 {
    margin-left: 81px;
}

.nav-list-element3 {
    margin-left: 59px;
}

.nav-list-element4 {
    margin-left: 73px;
}

.nav-link {
    color: black;
}

.header-img {
    height: 20px;
    width: 20px;
    margin-top: 20px;
    margin-left: 86px;
}

.burger {
    background: none;
    border: none;
    cursor: pointer;
}

/* Section */
.section-container {
    height: 570px;
    margin-top: -17px;
    font-family: 'montserrat_800';
}

.section-background {
    width: 1415px;
    height: 497px;
}

.section-title {
    position: absolute;
    width: 837px;
    margin-top: -1560px;
    margin-left: 64px;
    color: white;
    font-size: 56px;
    font-weight: 800;
    line-height: 67px;
    display: block;
}

.section-description {
    position: absolute;
    width: 650px;
    margin-top: -1383px;
    margin-left: 64px;
    color: white;
    font-family: 'montserrat_700';
    font-size: 19px;
    line-height: 23px;
    display: block;
}

.section-button {
    position: absolute;
    padding: 0;
    padding-top: 2px;
    color: white;
    background-color: #FF9900;
    border-color: #FF9900;
    font-size: 19px;
    font-family: 'montserrat_700';
    height: 63px;
    margin-top: -1266px;
    margin-left: 64px;
    width: 225px;
    display: block;
}

/* Section1 */
.section1-title {
    margin: 0;
    margin-top: 11px;
    margin-left: 4px;
    font-family: 'montserrat_400';
    font-size: 38px;
}

.section1-description {
    width: 1002px;
    margin: 0;
    margin-top: 18px;
    margin-left: 1px;
    font-family: 'montserrat_400';
    font-size: 13px;
    line-height: 25px;
}

.section1-group {
    display: flex;
}

.section1-img {
    width: 694px;
    margin-top: 41px;
    margin-left: 2px;
}

.section1-img-description {
    position: absolute;
    width: 400px;
    margin: 0;
    margin-top: -119px;
    margin-left: 41px;
    font-family: 'montserrat_700';
    font-size: 13px;
    line-height: 25px;
    color: white;
}

.section1-button {
    position: absolute;
    height: 48px;
    width: 140px;
    background-color: transparent;
    color: white;
    border: 3px solid #FF9900;
    padding-top: 4px;
    padding-left: 7px;
    margin-top: 436px;
    margin-left: -180px;
    font-family: 'montserrat_700';
    font-size: 13px;
}

.section1-group1 {
    width: 694px;
    height: 235px;
    margin-top: 41px;
    margin-left: 26px;
    border: 1px solid #CACACA;
}

.section1-group1-img {
    width: 154px;
    height: 133px;
    margin-top: 51px;
    margin-left: 46px;
}

.section1-group1-title {
    position: absolute;
    width: 358px;
    margin: 0;
    margin-top: -135px;
    margin-left: 238px;
    font-family: 'montserrat_700';
    font-size: 19px;
}

.section1-group1-description {
    position: absolute;
    width: 304px;
    height: 128px;
    margin: 0;
    margin-top: -107px;
    margin-left: 240px;
    font-family: 'montserrat_400';
    font-size: 12px;
    line-height: 26px;
    color: #333333;
}

.section1-group2 {
    width: 694px;
    height: 235px;
    margin-top: 25px;
    margin-left: 26px;
    border: 1px solid #CACACA;
}

.section1-group2-img {
    width: 154px;
    height: 133px;
    margin-top: 51px;
    margin-left: 46px;
}

.section1-group2-title {
    position: absolute;
    width: 358px;
    margin: 0;
    margin-top: -135px;
    margin-left: 240px;
    font-family: 'montserrat_700';
    font-size: 19px;
}

.section1-group2-description {
    position: absolute;
    width: 300px;
    height: 128px;
    margin: 0;
    margin-top: -107px;
    margin-left: 240px;
    font-family: 'montserrat_400';
    font-size: 11px;
    line-height: 26px;
    color: #333333;
}

/* Section2 */
.section2 {
    padding-top: 88px;
}

.section2-title {
    width: 430px;
    margin: 0;
    margin-top: -8px;
    margin-left: 3px;
    font-family: 'montserrat_400';
    font-size: 38px;
}

.section2-nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

.section2-list-element {
    margin-top: -1px;
    margin-left: 1px;
}

.section2-list-element1 {
    margin-left: 67px;
    margin-top: -1px;
}

.section2-list-element2 {
    margin-left: 67px;
    margin-top: -1px;
}

.section2-list-element3 {
    margin-left: 68px;
    margin-top: -1px;
}

.section2-list-link {
    color: #333333;
    font-family: 'montserrat_400';
    font-size: 15px;
}

.section2-group1 {
    display: flex;
}

.section2-group1-title {
    margin: 0;
    margin-top: 39px;
    margin-left: 3px;
    font-family: 'montserrat_700';
    font-size: 19px;
}

.section2-group1-description {
    width: 625px;
    height: 306px;
    margin: 0;
    margin-top: 8px;
    margin-left: 1px;
    font-family: 'montserrat_400';
    font-size: 13px;
    line-height: 26px;
}

.section2-img {
    width: 695px;
    height: 368px;
    margin-top: 43px;
    margin-left: 96px;
}

.tab-content {
    display: none;
}

.tab-content-active {
    display: block;
}

.section2-button {
    width: 140px;
    height: 48px;
    margin-left: 2px;
    margin-top: -13px;
    background-color: #FF9900;
    border-color: #FF9900;
    color: white;
    font-family: 'montserrat_600';
    font-size: 13px;
}

.section2-button1 {
    width: 117px;
    height: 37px;
    margin-left: 22px;
    background-color: white;
    border-color: #333333;
}

/* Section 3 */
.section3 {
    padding-top: 64px;
    padding-left: 78px;
}

.section3-container {
    padding-left: 0;
}

.section3-title {
    margin: 0;
    margin-top: 14px;
    font-family: 'montserrat_400';
    font-size: 38px;
}

.section3-detail {
    margin-top: 33px;
}

.section3-details {
    width: 1007px;
}

.section3-detail-summary {
    margin-top: 35px;
    margin-bottom: 22px;
    margin-left: -1px;
    font-size: 19px;
    font-family: 'montserrat_700';
}

.section3-detail-p {
    width: 1007px;
}

/* Footer */
.footer {
    height: 475px;
    width: 1535px;
    margin-top: 81px;
    margin-left: 17px;
    background-color: #222222;
    display: flex;
}

.footer-vector {
    width: 180px;
    height: 55px;
    margin-top: 42px;
    margin-left: 58px;
}

.footer-nav-list {
    list-style: none;
    margin-top: 19px;
}

.footer-nav-list-element {
    width: 230px;
    margin-left: 18px;
    font-size: 15px;
}

.footer-nav-list-element:not(:first-child) {
    margin-top: 12px;
}

.footer-nav-link {
    color: #CACACA;
    font-family: 'montserrat_600';
}

.footer-frame {
    width: 183px;
    margin-top: 59px;
    margin-left: 60px;
}

.centerfooter {
    margin-top: 6px;
    margin-left: 252px;
}

.centerfooter-title {
    width: 333px;
    color: white;
    font-size: 38px;
    margin: 0;
    margin-top: 39px;
}

.placeholder {
    width: 437px;
    height: 44px;
    padding-top: 4px;
    padding-left: 17px;
    margin-top: 18px;
    margin-bottom: 19px;
    color: #CACACA;
    background-color: #414141;
    border: none;
    font-size: 13px;
}

.placeholder1 {
    width: 437px;
    height: 44px;
    padding-top: 4px;
    padding-left: 18px;
    margin-bottom: 19px;
    color: #CACACA;
    background-color: #414141;
    border: none;
    font-size: 13px;
}

.placeholder2 {
    width: 437px;
    height: 118px;
    padding-left: 18px;
    margin-bottom: 20px;
    color: #CACACA;
    background-color: #414141;
    border: none;
    font-size: 13px;
    text-align: inherit;
}

.footer-group {
    display: flex;
}

.footer-button {
    width: 215px;
    height: 47px;
    padding-top: 3px;
    margin-top: 6px;
    background-color: #FF9900;
    color: white;
    font-family: 'montserrat_700';
    font-size: 13px;
    border: none;
}

.footer-group1 {
    display: flex;
    margin-top: 14px;
}

.footer-checkbox {
    margin-top: -7px;
    margin-left: 17px;
}

.footer-checkbox-description {
    width: 211px;
    color: #CACACA;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 2px;
}

.rightfooter-description {
    width: 288px;
    margin-top: 112px;
    margin-right: 63px;
    color: #CACACA;
    font-size: 13px;
    line-height: 25px;
}

/* Other */
.section-button:hover {
    cursor: pointer;
    background-color: #FF9900 70%;
}

.section-button:focus {
    border: 1px solid #FF9900;
    outline: 2px solid #FF9900;
}

.section-button:active {
    background-color: #E1670E;
    border-color: #E1670E;
}

.nav-link:focus {
    outline: 2px solid #FF9900;
}

.nav-link:active {
    color: #E1670E;
    outline: none;
}

.header-img:hover {
    cursor: pointer;
}

.section1-button:hover {
    background-color: #FF9900;
}

.section1-button:focus {
    background-color: #FF9900;
    outline: 2px solid #FF9900;
}

.section1-button:active {
    background-color: #E1670E;
    border-color: #E1670E;
}

.section2-list-link:FOCUS {
    outline: 2px solid #FF9900;
}

.section2-list-link:hover {
    background: none;
    color: #FF9900;
}

.section2-list-link:active {
    color: #E1670E;
}

.section2-button:hover {
    background-color: #F7B045;
    border-color: #F7B045;
}

.section2-button:focus {
    background-color: #F7B045;
    border-color: #F7B045;
    outline: 2px solid #F7B045;
}

.section2-button:active {
    background-color: #E1670E;
    border-color: #E1670E;
}

.section2-button1:hover {
    background-color: #666666;
    border-color: #666666;
    color: white;
}

.section2-button1:focus {
    background-color: #666666;
    border-color: #666666;
    color: white;
    outline: 2px solid #666666;
}

.section2-button1:active {
    background-color: #000000;
    border-color: #000000;
    color: white;
}

.section3-details:hover {
    cursor: pointer;
    color: #FF9900;
}

.section3-details:focus {
    cursor: pointer;
    color: #FF9900;
}

.section3-details:active {
    cursor: pointer;
    color: #333333;
}

.section3-detail-summary:focus {
    outline: none;
    color: #FF9900;
}

.footer-nav-link:focus {
    outline: 2px solid #FF9900;
}

.footer-nav-link:hover {
    background: none;
    color: #FF9900;
}

.footer-nav-link:active {
    color: #E1670E;
    outline: none;
}

.placeholder:focus {
    outline: 2px solid #666666;
}

.placeholder1:focus {
    outline: 2px solid #666666;
}

.placeholder2:focus {
    outline: 2px solid #666666;
}

.placeholder:hover {
    background-color: #666666;
}

.placeholder1:hover {
    background-color: #666666;
}

.placeholder2:hover {
    background-color: #666666;
}

.placeholder:active {
    color: #ffffff;
}

.placeholder1:active {
    color: #ffffff;
}

.placeholder2:active {
    color: #ffffff;
}

.footer-frame:hover {
    cursor: pointer;
}

.footer-button:focus {
    outline: 2px solid #FF9900;
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header-img {
        display: none;
    }

    .nav {
        display: none;
    }

    .burger {
        margin-left: 50px;
    }

    .section-background {
        width: 850px;
    }

    .section-title {
        width: 670px;
    }

    .section1-description {
        width: 800px;
    }

    .section1-group {
        display: block;
    }

    .section1-img {
        width: 850px;
    }

    .section1-img-description {
        width: 500px;
        font-size: 18px;
    }

    .section1-button {
        height: 54px;
        width: 158px;
        font-size: 18px;
        margin-top: -100px;
        margin-left: 653px;
    }

    .section1-group1 {
        width: 850px;
        margin-left: 0;
    }

    .section1-group1-description {
        width: 500px;
        font-size: 19px;
    }

    .section1-group2-description {
        width: 500px;
        font-size: 19px;
    }

    .section1-group2 {
        width: 850px;
        margin-left: 0;
    }

    .section2-img {
        display: none;
    }

    .section2-group1-description {
        height: 403px;
        font-size: 20px;
    }

    hr {
        width: 850px;
    }

    .section3-detail-summary {
        width: 850px;
        font-size: 18px;
    }

    .footer {
        width: 915px;
        height: 462px;
    }

    .centerfooter {
        width: 465px;
        margin-left: 0;
    }

    .footer-checkbox-description {
        width: 210px;
    }

    .rightfooter {
        width: 172px;
    }

    .rightfooter-description {
        width: 172px;
        font-size: 10px;
        margin-top: 101px;
    }
}

@media (min-width: 768px) {
    .burger {
        display: none;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
    }

    .section-background {
        width: 587px;
    }

    .section-title {
        width: 509px;
    }

    .section-description {
        width: 513px;
    }

    .section-button {
        width: 120%;
        font-size: 17px;
    }

    .section-container {
        height: 500px;
    }

    .section1-title {
        font-size: 32px;
    }

    .section1-description {
        width: 577px;
    }

    .section1-img {
        width: 563px;
    }

    .section1-img-description {
        width: 312px;
        font-size: 14px;
    }

    .section1-button {
        margin-left: 366px;
    }

    .section1-group1 {
        width: 563px;
    }

    .section1-group2 {
        width: 563px;
    }

    .section1-group1-title {
        width: 317px;
        font-size: 16px;
    }

    .section1-group1-description {
        width: 311px;
        font-size: 15px;
    }

    .section1-group2-title {
        width: 306px;
        font-size: 17px;
    }

    .section1-group2-description {
        width: 306px;
        font-size: 17px;
    }

    .section2-group1-description {
        width: 563px;
        font-size: 18px;
    }

    .section2-list-link {
        font-size: 18px;
    }

    hr {
        width: 576px;
    }

    .section3-detail-summary {
        width: 563px;
    }

    .footer {
        width: 646px;
    }

    .centerfooter {
        width: 241px;
    }

    .centerfooter-title {
        font-size: 25px;
    }

    .placeholder {
        width: 189px;
    }

    .placeholder1 {
        width: 189px;
    }

    .placeholder2 {
        width: 189px;
    }

    .footer-checkbox-description {
        width: 110px;
    }

    .rightfooter {
        width: 105px;
    }

    .rightfooter-description {
        width: 112px;
        font-size: 6px;
    }
}