@font-face {
    font-family: 'montserrat_600';
    src: url('fonts/montserrat-semibold.woff2') format('woff2'),
         url('fonts/montserrat-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_700';
    src: url('fonts/montserrat-bold.woff2') format('woff2'),
         url('fonts/montserrat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_800';
    src: url('fonts/montserrat-extrabold.woff2') format('woff2'),
         url('fonts/montserrat-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'montserrat_600','montserrat_700','montserrat_800';
}